In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["lala","lele","lolo"],
    "last": ["lili",'lulu','lyly'],
    "email": ["1@1.1", "2@2.2", "3@3.3"]
}

In [3]:
people['email']

['1@1.1', '2@2.2', '3@3.3']

In [4]:
df = pd.DataFrame(people)

In [5]:
df

  first  last  email
0  lala  lili  1@1.1
1  lele  lulu  2@2.2
2  lolo  lyly  3@3.3

In [6]:
df['email']

0    1@1.1
1    2@2.2
2    3@3.3
Name: email, dtype: object

In [7]:
type(df['email'])

pandas.core.series.Series

In [8]:
df.email

0    1@1.1
1    2@2.2
2    3@3.3
Name: email, dtype: object

In [9]:
df[['last','email']]

   last  email
0  lili  1@1.1
1  lulu  2@2.2
2  lyly  3@3.3

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
df.iloc[0]

first     lala
last      lili
email    1@1.1
Name: 0, dtype: object

In [12]:
df.iloc[[0,2]]

  first  last  email
0  lala  lili  1@1.1
2  lolo  lyly  3@3.3

In [13]:
df.iloc[[0,2],2]

0    1@1.1
2    3@3.3
Name: email, dtype: object

In [14]:
df.loc[0]

first     lala
last      lili
email    1@1.1
Name: 0, dtype: object

In [15]:
df.loc[[0,1],['email']]

   email
0  1@1.1
1  2@2.2